.btn-animated {
    animation: moveInBtn 0.7s ease 1s;
    animation-fill-mode: backwards;
}
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 50px;
    transition: all 0.3s;
    position: relative;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 2px 5px rgba (0, 0, 0, 0.3);
}
.btn:active {
    transform: translateY(-1px);
}
.btn-white {
    background-color: $color-white;
    color: $color-grey-dark;
}
.btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
}
.btn-white::after {
    background-color: $color-white;
}
.btn:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0;
}
.btn-txt {
    &:link,
    &:visited {
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all 0.2s;
    }
    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 1px 1px 1px ($color-black, 0.5);
        transform: translateY(-0.2rem);
    }
    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0);
    }
}
