.txt-center {
    text-align: center;
}
.mg-b-lg {
    margin-bottom: 8rem;
}
.mg-b-md {
    margin-bottom: 4rem;
}
.mg-b-sm {
    margin-bottom: 1.5rem;
}
.pd-lg {
    padding: 10rem;
}
.pd-md {
    padding: 5rem;
}
.pd-sm {
    padding: 1.5rem;
}
