/* Variables */

/* Colors */
$color-primary: #27a9d7;
$color-primary-light: #5cf3ee;
$color-primary-dark: #4e86db;
$color-grey-dark: #777777;
$color-white: #ffffff;
$color-black: #000000;

/* GRID */
$grid-width: 114rem;
$vertical-gap: 8rem;
$horizontal-gap: 6rem;
